<div class="card {{ fullCard }} {{ cardLoad }}" [@cardClose]="cardClose" [ngClass]="cardClass">
  <div class="card-header" *ngIf="title">
    <div class="row">
        <div class="col-md-6" [style]="titleAlign()">
            <h5 >{{ title }}</h5>
        </div>
        <ng-content select="[novo]"></ng-content>        
    </div>   
  </div>
  <div [@cardToggle]="cardToggle">
    <div class="card-body" [ngClass]="blockClass">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="card-footer" *ngIf="!semRodape">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
