<app-template-pesquisa 
    [titulo]="titulo()" 
    (onEventoPesquisar)="onPesquisar()"
    (onEventoMudarPagina)="onMudarPagina($event)"
    (onEventoEditar)="editar($event)"
    [datatable]="dataDatable" 
    [products]="itens"   
>
    <div filtro class="row" [formGroup]="formulario">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <app-custom-input label="Nome" formControlName="nome"></app-custom-input>
                </div>
                <div class="col-md-5">
                    <app-custom-input label="Cidade" formControlName="cidade"></app-custom-input>
                </div>
                <div class="col-md-2">
                   <app-custom-input label="UF" formControlName="uf"></app-custom-input>
                </div>
            </div>
        </div>
    </div>
</app-template-pesquisa>