<div class="row" autocomplete="off">
    <div class="col-sm-12">
        <app-card [title]="titulo">
            <div class="content" style="margin-right: 5px;">
                <ng-content select="[formulario]"></ng-content>
            </div>
            <div class="row" footer>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" [routerLink]="[buttonLink]"><i class="ti-angle-double-left"></i>VOLTAR</button>
                </div>
                <div class="col-md-10" style="text-align: end;">
                    <button type="button" class="btn btn-success mr-1" (click)="onSalvar(false)" [disabled]="formulario.invalid"><i class="ti-save"></i>SALVAR</button>
                    <button type="button" class="btn btn-success" (click)="onSalvar(true)" [disabled]="formulario.invalid"><i class="ti-save"></i>SALVAR E VOLTAR</button>
                    <button *ngIf="mostrarExcluir()" type="button" class="btn btn-danger ml-1" (click)="onExcluir()"><i class="ti-trash"></i>EXCLUIR</button>
                </div>
            </div>
        </app-card>
    </div>
</div>