<div class="row" autocomplete="off">
    <div class="col-sm-12">
        <app-card [title]="''" [semRodape]="true">
            <div class="content">
                <ng-content select="[filtro]"></ng-content>               
            </div>
            <div class="row agenda">
                <div class="col-md-6 form-group fundo_geral">
                    <div style="display: flex;">
                        <div style="width: 33.3333%;"></div>
                        <div class="cabecalho">2023</div>
                        <div style="width: 33.3333%;">
                            <div class="semana"><h4>Sexta</h4></div>
                            <div class="dia"><h1>6</h1></div>
                            <div class="mes"><h4>Dezembro</h4></div>
                        </div>
                    </div>

                    <div class="fundo">
                        <table class="table">
                            <tr>
                                <th style="width: 1%;"></th>
                                <th style="font-weight: bold !important;">Clientes</th>
                                <th></th>
                                <th style="font-weight: bold !important;">Serviços</th>
                                <th style="font-weight: bold !important; text-align: end;">Valor</th>
                            </tr>
                            <tr>
                                <td>07:00</td>
                                <td>Maria</td>
                                <td style="text-align: end;">;</td>
                                <td>corte</td>
                                <td style="text-align: end;">R$10,00</td>
                            </tr>
                            <tr>
                                <td>07:00</td>
                                <td>Paulo</td>
                                <td style="text-align: end;">;</td>
                                <td>escova</td>
                                <td style="text-align: end;">R$25,00</td>
                            </tr>
                            <tr>
                                <td>07:00</td>
                                <td>Ana</td>
                                <td style="text-align: end;">;</td>
                                <td>corte</td>
                                <td style="text-align: end;">R$10,00</td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="col-md-6 form-group" style="border: 1px solid burlywood;">
                    <div style="display: flex;">
                        <div style="width: 33.3333%;"></div>
                        <div style="width: 33.3333%; margin: auto; font-size: 3rem;">2023</div>
                        <div style="width: 33.3333%;">
                            <div style="text-align: center;"><h4>Sabado</h4></div>
                            <div style="text-align: center;"><h1>7</h1></div>
                            <div style="text-align: center;"><h4>Dezembro</h4></div>
                        </div>
                    </div>
                    <div style="background: #fffcec;">
                        <table class="table">
                            <tr>
                                <th style="width: 1%;"></th>
                                <th style="font-weight: bold !important;">Clientes</th>
                                <th></th>
                                <th style="font-weight: bold !important;">Serviços</th>
                            </tr>
                            <tr>
                                <td>07:00</td>
                                <td>Maria</td>
                                <td style="text-align: end;">;</td>
                                <td>corte</td>
                            </tr>
                            <tr>
                                <td>07:00</td>
                                <td>Paulo</td>
                                <td style="text-align: end;">;</td>
                                <td>escova</td>
                            </tr>
                            <tr>
                                <td>07:00</td>
                                <td>Ana</td>
                                <td style="text-align: end;">;</td>
                                <td>corte</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

        </app-card>
    </div>
</div>