<div datatable class="col-md-12" *ngIf="datatable">
    <p-table
        (onRowSelect)="rowSelect($event)"
        selectionMode="single"
        styleClass="p-datatable-sm p-datatable-striped" 
        currentPageReportTemplate="Exibindo {last} de {totalRecords} registro(s)" 
        [paginator]="exibePaginacao()" 
        [rows]="qntRegistro" 
        (onLazyLoad)="pesquisar($event)" 
        [lazy]="true"
        [showCurrentPageReport]="true" 
        [value]="products?.content" 
        [tableStyle]="{'width': '100%'}"
        [loading]="false"
        [totalRecords]="totalRecords"
        [(first)]="first"
    >

        <ng-template pTemplate="header">
            <tr>
                <ng-container *ngFor="let coluna of colunas">
                    <th [ngStyle]="onDefinirEstilo(coluna)">{{coluna?.titulo}}</th>
                </ng-container>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
            <tr [pSelectableRow]="product" [pSelectableRowIndex]="rowIndex">
                <ng-container *ngFor="let coluna of colunas">
                    <td [ngStyle]="onDefinirEstilo(coluna)"><span>{{product[coluna.propriedade]}}</span></td>
                </ng-container>                
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" >
            <tr>
                <td [attr.colspan]="colunas?.length">                   
                   Nenhum resultado encontrado
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>