.agenda{
    .fundo_geral{
        border: 1px solid burlywood;
    }
    .fundo{
        background: #fffcec;
    }
    .cabecalho{
        width: 33.3333%;
        margin: auto;
        font-size: 3rem;
    }
    .mes{
        text-align: center;
    }
    .semana{
        text-align: center;
    }
    .dia{
        text-align: center;
    }
}

