.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
    background: $color-datatable-zebrado;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight) {
    transition: 0.3s;
  }

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
    background: $color-hover-tabela;
    color: $color-hover-tabela-texto;    
    cursor: pointer;
    
  }

  .p-datatable{
    box-shadow: 0 4px 11px 0 rgb(0 0 0 / 46%);
  }

  td .editar{
    color: $color-warning !important;
    cursor: pointer;
  }

  td .imprimir{
    color: $color-success !important;
    cursor: pointer;
  }

  td .excluir{
    color: $color-danger !important;
    cursor: pointer;
  }

  th{
    text-transform: Uppercase;
    font-weight: 500 !important;
    font-size: 13px;
    white-space: nowrap;
}

.p-datatable .p-datatable-thead > tr > th { 
    color: #ffffff;
    background: $color-cabecalho-tabela;   
}