$color-white:           #fff;
$color-ice:             #f3f3f3;
$color-rose:            #f0b1ce;
$color-cinza-dark:      #303548;

$color-primary:         #4680ff;
$color-warning:         #FFB64D;
$color-default:         #e0e0e0;
$color-danger:          #FC6180;
$color-success:         #93BE52;
$color-info:            #62d1f3;
$color-purple:          #9261c6;
$color-dark:            #2b3d51;
$color-muted:           #919aa3;
$color-custom:          #64b0f2;

$color-cabecalho-lateral: $color-cinza-dark;
$color-cabecalho-topo:    $color-white;
